.card-body{
  width: 40vw;
  border: 1px solid lightgray;
  border-radius: 15px;
  margin-bottom: 20px;
  display: flex;

  & img{
    height: 200px;
    width: 200px;
    border-radius: 15px;
    margin-right: 15px;
  }

  & .title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0px;
  }
}